* {
  margin: 0;
  padding: 0;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}

html {
  color-scheme: dark;
}

button {
  padding: 0.5rem 2rem;
}

.userData-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* flex: 0 1 auto; */
  /* background-color: tomato; */
  justify-content: center;
  align-items: center;
}

#userData{
  display: grid;
  grid-template-columns: 1fr;
  scroll-snap-type: y mandatory;
  margin-inline: auto;
  /* width: clamp(400px, 80%,800px); */
  width: fit-content;
  height: 500px;
  overflow-y: scroll;
  /* background-color: cadetblue; */
  /* width: clamp(20rem, 50%, 30rem); */
  justify-content: center;
  background-color: grey;
  gap: 0.25rem;
  border-radius: 0 1rem 1rem 0;
  border-radius: 1rem 0 0 1rem;
}

h2{
  margin: 1rem auto 0 auto;
  /* background-color: green; */
}

.entry {
  scroll-snap-align: center;
  border-block: solid black .1rem;
  display: grid;
  grid-template-columns: 0.25fr 2fr 1fr 1fr;
  background-color: steelblue;
}

.entry > span {
  /* background-color: goldenrod; */
  align-self: center;
  text-align: center;
}

.entry > img {
  border-radius: 50%;
  border: solid white 0.1rem;
  margin: 0.5rem;
}

.entry:last-of-type {
  /* background-color: blue; */
  margin-bottom: 2rem;
}
.entry:first-of-type {
  /* background-color: blue; */
  margin-top: 1rem;
}
/* #userData:last-child {
  width: 100px;
  height: 100px;
  background-color: pink;
} */

/* body{
  background-color: rebeccapurple;
} */


.modal {
  width: 450px;
  height: 600px;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 225px);
  background-color:skyblue;
  border: solid black 0.25rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal > button {
  margin-inline: auto;
  width: 50%;
}

.modal > div{
  width: 90%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: 0.5fr 1fr;
  /* grid-template-areas: ?
  "label button",
  "label button",
  "label button",
  "      button"; */

  /* background-color: brown; */
  /* justify-content: center; */
  /* align-items: end; */
}

.modal > div > label {
  /* background-color: gray; */
  text-align: center;
}
.modal > div > input {
  width: 100%;
  /* background-color: gray; */
}

#app{
  height: 100vh;
  background-color: red;
}

.button-wrapper{
  width: 100vw;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr;

  /* background-color: green; */
  justify-content: center;
  align-items: start;
}